:root {
  --mainColor: #121212;
  --whiteColor: #fff;
  --btnColor: #175cff;
  --btnColorHover: #034cf5;
  --linkHover: #3e81e6;
  --linkMenuBlack: #000;
  --secondary-Link: #474747;
  --iconColor: #f25767;
  --iconBack: #fcdde1;
  --primary-para: rgb(85, 85, 85);
  --primary-shadow-light: #bdbcbc;
  --primary-shadow-soft: #e9e9e9;
  --primary-soft: #ceddff;
}
body {
  overflow-y: auto;
}
.get-started {
  display: flex;
  flex-direction: column;
}
.get-started-container {
  margin: 0 20px;
}
.form-info {
  margin: 70px 0;
  color: var(--whiteColor);
}
.form-info span {
  font-size: 30px;
  font-weight: 100;
  color: var(--iconColor);
}

.form-info h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.form-info p {
  font-size: 18px;
  font-style: italic;
  line-height: 1.9rem;
}
.form-info p:last-of-type {
  margin-bottom: 10px;
}
.form-info img {
  margin: 20px;
  text-align: center;
}
.form {
  background-color: var(--whiteColor);
  padding: 020px;
  margin: 20px;
  border-radius: 7px;
}
.form h2 {
  margin: 15px 0;
  font-size: 25px;
}
.form p {
  margin: 15px 0;
  font-size: 18px;
  color: var(--secondary-Link);
  line-height: 1.8rem;
}
.form span {
  color: var(--btnColorHover);
  font-size: 20px;
  font-weight: 600;
}
.input-form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.input-form .inputs {
  display: grid;
  gap: 25px;
}
select {
  color: var(--secondary-Link);
}
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea,
input[type="submit"] {
  padding: 15px;
  font-size: 20px;
  margin: 10px 0;
  outline: none;
  border: 1px solid var(--primary-shadow-light);
  border-radius: 7px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: 2px solid var(--btnColor);
}
textarea {
  resize: vertical;
}
input[type="submit"] {
  color: var(--whiteColor);
  background-color: var(--btnColor);
  transition: background-color 0.4s linear;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--btnColorHover);
}
/* Small */
@media (max-width: 639px) {
}
@media (min-width: 640px) {
  .get-started {
    margin: 0 50px;
  }
  .form h2 {
    font-size: 30px;
  }
  .form p,
  .form h2 {
    width: 400px;
  }
}
/* Medium */
@media (min-width: 768px) {
  .get-started {
    margin: 0 70px;
  }
  .form {
    width: 80%;
  }
  .form h2 {
    font-size: 45px;
  }
  .form p,
  .form h2 {
    width: 500px;
  }
}
/* Large */
@media (min-width: 1024px) {
  .get-started {
    flex-direction: row;
    margin: 0 10px;
  }
  .form {
    position: relative;
    top: 50px;
    width: 61%;
    height: 110vh;
  }
  .form h2 {
    font-size: 30px;
  }
  .form p,
  .form h2 {
    width: 400px;
  }
  .input-form .inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1124px) {
  .form {
    height: auto;
  }
}
