<!DOCTYPE html>
<html lang="en">

<head>
    <title>OVOLET: Digital Product Agency | Future-Ready Software</title>
    <meta name="description" content="We are product developers, Leading B2B SEO Agency With A Proven ROI">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/style-rtl.css">
    <link rel="stylesheet" href="./css/get-started.css">
    <link rel="stylesheet" href="./css/get-started-rtl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <a href="./index-rtl.html"><img src="https://quiety.themetags.com/assets/img/logo-white.png" alt="logo"></a>
                </div>
                <ul class="pages-list" id="nav-ul">
                    <li><a href="#about">من نحن</a></li>
                    <li><a href="#services">خدماتنا</a></li>
                    <li><a href="#contact">تواصل معنا</a></li>
                    <li><a href="#">المقالات التعليمية</a></li>
                    <li><a href="./get-started.html" style="font-size: 17px;">🇺🇸 EN</a></li>
                </ul>
                <div class="header-btn">
                    <a class="sign-in-btn" href="./login-rtl.html">تسجيل الدخول</a>
                    <button class="get-Started-btn"><a href="./get-started-rtl.html">لنبدأ الآن</a></button>
                </div>
                <div class="toggle">
                    <i id="toggle-icon" class="fa-solid fa-align-justify"></i>
                </div>
                <!-- Start Menu -->
                <div class="toggle-menu" id="toggle-menu">
                    <div class="logo">
                        <img src="https://quiety.themetags.com/assets/img/logo-color.png" alt="logo">
                    </div>
                    <ul class="pages-list-menu" id="nav-ul">
                        <li><a href="#about">من نحن</a></li>
                    <li><a href="#services">خدماتنا</a></li>
                    <li><a href="#contact">تواصل معنا</a></li>
                    <li><a href="#">المقالات التعليمية</a></li>
                    <li><a href="./get-started.html">🇺🇸 EN</a></li>
                    </ul>
                    <div class="header-btn-menu">
                        <button class="sign-in-btn-menu"><a href="./login-rtl.html">تسجيل الدخول</a></button>
                        <button class="get-Started-btn-menu"><a href="./get-started-rtl.html">لنبدأ الآن</a></button>
                    </div>
                    <div class="hidden-icon" id="removeMenu">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="get-started">
        <div class="get-started-container">
            <div class="form-info">
                <span>جدولة مكالمة</span>
                <h1>لنبدأ مشروعك.</h1>
                <p>حان الوقت لإعادة تعريف شكل موقعك.</p>
                <p>مهما كان هدفك أو حجم مشروعك ، سنتعامل معه باستخدام معايير متوافقة. نأمل أن تكون راضيًا بنسبة مئة بالمئة</p>
                <img src="./imgs/Asset_developer-1.svg" alt="">
                <p>10 سنوات من الخبرة في المجال كواحدة من أكبر الشركات الافتراضية في العالم</p>
                <p>هل أنت مستعد لجعل شيء لا يُنسى؟</p>
                <p>نحن على استعداد للمساعدة.</p>
            </div>
        </div>
        <div class="form">
            <h2>ناقش مشروعك الأخير مع أخصائي Ovolet.</h2>
            <p>نحن نتطلع إلى العمل معًا. شارك بأفكارك أدناه وسيتواصل معك أحد متخصصي Ovolet قريبًا</p>
            <form action="#" class="input-form">
                <div class="inputs">
                    <input type="text" placeholder="الاسم الكامل" required>
                    <input type="email" placeholder="البريد الإلكتروني" required>
                    <input type="number" placeholder="رقم الهاتف">
                    <input type="text" placeholder="اسم الشركة">
                    <input type="text" placeholder="الدولة">
                    <select name="budget" id="budget">
                        <option value="">الميزانية</option>
                        <option value="Less than 1000$">أقل من 1000 دولار</option>
                        <option value="1000$ to 5000$">من 1000 دولار إلى 5000 دولار</option>
                        <option value="6000$ to 12000$">6000 دولار إلى 12000 دولار</option>
                        <option value="15000$ to 30000$">من 15000 دولار إلى 30000 دولار</option>
                        <option value="30000$ to 60000$">من 30000 دولار إلى 60000 دولار</option>
                        <option value="More than 60000$">أكثر من 60000 دولار</option>
                    </select>
                </div>
                <textarea  placeholder="أخبرنا المزيد عن مشروعك" style="height: 120px; width: auto;"></textarea>
                <input type="submit" value="لنبدأ الان">
            </form>
        </div>
    </div>
    <script src="./Js/main.js"></script>
</body>

</html>