<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/login-rtl.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <a href="./index-rtl.html"><img src="https://quiety.themetags.com/assets/img/logo-white.png" alt="logo"></a>
        </div>
        <div class="login">
            <h1>جميل أن نراك مرة أخرى</h1>
            <p>يرجى تسجيل الدخول للوصول إلى حسابك لمتابعة الجدول الزمني لمشروعك.</p>
            <div class="google-auth">
                <img src="./imgs/google-icon.svg" alt="">
                <span class="google-auth-btn">تسجيل الدخول</span>
            </div>
            <hr>
            <div class="hr-or">
                <span>Or</span>
            </div>
            <form action="#" class="login-form">
                <div class="email">
                    <label for="email">عنوان بريد الكتروني</label>
                    <input type="email" name="email" id="email" placeholder="عنوان بريد الكتروني" required>
                </div>
                <div class="password">
                    <label for="password">كلمه السر</label>
                    <input type="password" name="password" id="password" placeholder="كلمه السر" required>
                </div>
                <div class="form-links">
                    <input type="submit" id="submit-btn" value="تسجيل الدخول">
                    <p>ليس لديك حساب؟ <a href="./register-rtl.html">انشئ حساب</a></p>
                    <p><a href="./password-reset-rtl.html">هل نسيت كلمة السر؟</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>