<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <a href="./index.html"><img src="https://quiety.themetags.com/assets/img/logo-white.png" alt="logo"></a>
        </div>
        <div class="login">
            <h1>Nice To Seeing You Again</h1>
            <p>Please log in to access your account to follow your project timeline.</p>
            <div class="google-auth">
                <img src="./imgs/google-icon.svg" alt="">
                <span class="google-auth-btn">Connect with Google</span>
            </div>
            <hr>
            <div class="hr-or">
                <span>Or</span>
            </div>
            <form action="#" class="login-form">
                <div class="email">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="password">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-links">
                    <input type="submit" id="submit-btn">
                    <p>Don't have an account? <a href="./register.html">Sign up Today</a></p>
                    <p><a href="./password-reset.html">Forgot Password</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>