<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/login-rtl.css">
    <title>Register - Digital Product Agency</title>
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <a href="./index-rtl.html"><a href="./index-rtl.html"><img src="https://quiety.themetags.com/assets/img/logo-white.png" alt="logo"></a></a>
        </div>
        <div class="login">
            <h1>إنشاء حساب</h1>
            <p>هل أنت مستعد لعمل شيء لا يُنسى؟</p>          
            <form action="#" class="login-form">
                <div class="name">
                    <label for="name">الاسم الكامل</label>
                    <input type="text" name="name" id="name" placeholder="الاسم الكامل" required>
                </div>
                <div class="email">
                    <label for="email">البريد الإلكتروني</label>
                    <input type="email" name="email" id="email" placeholder="البريد الإلكتروني" required>
                </div>
                <div class="company">
                    <label for="company">شركة</label>
                    <input type="text" name="company" id="company" placeholder="إسم الشركة" >
                </div>
                <div class="password">
                    <label for="password">كلمة المرور</label>
                    <input type="password" name="password" id="password" placeholder="كلمة المرور" required>
                </div>
                <input type="submit" id="submit-btn" value="أنشئ الحساب">
                <hr>
                <div class="hr-or">
                    <span>أو</span>
                </div>
                <div class="google-auth">
                    <img src="./imgs/google-icon.svg" alt="">
                    <span class="google-auth-btn">إنشاء حساب</span>
                </div> 
                <div class="form-links">
                    <p>هل لديك حساب؟ <a href="./login-rtl.html">تسجيل الدخول</a></p>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>