nav,
.header-cover,
.features,
.about,
.about-service,
.services,
.contact {
  direction: rtl;
}
/* .toggle-menu {
  left: 0 !important;
  transform-origin: left;
} */
.hidden-icon {
  position: sticky;
  right: 393px;
}
.landscape-cover .flag {
  background-position: 100%;
}
.video-detail video {
  position: relative;
  right: -1rem;
}
.video-detail video {
  right: -19rem;
}

@media (min-width: 496px) {
  .landscape-cover .flag {
    background-position: 350%;
  }
}
@media (min-width: 545px) {
  .landscape-cover .flag {
    background-position: 500%;
  }
}
@media (min-width: 640px) {
  .landscape-cover .flag {
    background-position: 100%;
  }
}

/* Medium */
@media (min-width: 768px) {
  .landscape-cover .flag {
    background-position: 128%;
  }
}
/* Large */
@media (min-width: 1024px) {
}
