$mainColor: gold;
$primary-black: #000000;
$whiteColor: #fff;
$btnColor: #175cff;
$btnColorHover: #034cf5;
$linkHover: #3e81e6;
$linkMenuBlack: #000;
$secondary-Link: #474747;
$iconColor: #f25767;
$iconBack: #fcdde1;
$primary-para: rgb(85, 85, 85);
$primary-shadow-light: #bdbcbc;
$primary-shadow-soft: #e9e9e9;
$primary-soft: #e5e5f7;
$selection: #ec4067;
$blue: #175cff;

$default-padding: 1em;
$default-margin: 1em;

$gold: gold;
$purple: #9900FF;
$success: #0ead69;

$error-bg: #fff0f3;

$primary-color: #023047;